<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">
    <title>WikiGenerator</title>
      <link rel="stylesheet" href="/stylesheets/chat.css">
  </head>
  <body>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Disucssion Wiki</h1>
        <h3>About</h3>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <p>This is a wiki generated from the chat discussion based on likes of the message</p>

            <h3>Description</h3>
            <p class="wiki-content" ><%= description %></p>

            <h3>History</h3>
            <p class="wiki-content" ><%= history %></p>

            <h3>News Feed</h3>
            <p class="wiki-content" ><%= news %></p>

            <h3>Comments</h3>
            <p class="wiki-content" ><%= comments %></p>

            <h3>Suggestion</h3>
            <p class="wiki-content" ><%= suggestion %></p>

          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
