<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../../favicon.ico">
    <title>WikiGenerator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script src="/javascripts/wiki.js"></script>
      <script type='text/javascript'>
          $(window).load(function(){
              var auth = <%-JSON.stringify(authors)%>;
              var contents = $('.wiki-content').html();
              $('.wiki-content').blur(function() {
                  if (contents!=$(this).html()){
                      contents = $(this).html();
                    console.log(auth);

                  }
              });
          });

      </script>
  </head>
  <body>
    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Disucssion Wiki</h1>
        <h3>About</h3>
      </div>
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <p>This is a wiki generated from the chat discussion based on likes of the message</p>

            <h3>Description</h3>
            <ul>
              <% description.forEach(function(desc){ %>
              <li><p id = "<%= desc[0]%>" class="wiki-content" contenteditable="true"><%= desc[1] %></p></li>
              <% }); %>
            </ul>
            <h3>History</h3>
            <ul>
              <% history.forEach(function(desc){ %>
              <li><p id = "<%= desc[0]%>" class="wiki-content" contenteditable="true"><%= desc[1] %></p></li>
              <% }); %>
            </ul>
            <h3>News Feed</h3>
            <ul>
              <% news.forEach(function(desc){ %>
                <li><p id = "<%= desc[0]%> "class="wiki-content" contenteditable="true"><%= desc[1] %></p></li>
              <% }); %>
            </ul>
            <h3>Comments</h3>
            <ul>
              <% comments.forEach(function(desc){ %>
                <li><p id = "<%= desc[0]%> "class="wiki-content" contenteditable="true"><%= desc[1] %></p></li>
              <% }); %>
            </ul>
            <h3>Suggestion</h3>
            <ul>
              <% suggestion.forEach(function(desc){ %>
                <li><p id = "<%= desc[0]%> "class="wiki-content" contenteditable="true"><%= desc[1] %></p></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </body>
</html>
